.cover h1 { 
	text-shadow: 
		0px -1px 4px white,
		0px -2px 10px yellow, 
		0px -10px 20px #ff8000, 
		0px -18px 40px red; }
.cover h2, .cover h3 { 
	text-shadow: 
		-1px -1px 1px rgba(0,0,0,0.2), 
		1px 1px 0 rgba(0,0,0,0.2), 
		2px 2px 0 orange; }