.cover h1 { 
	text-shadow: 
		0 0 5px #fff, 
		0 0 10px #fff, 
		0 0 15px #fff, 
		0 0 20px #ff2d95, 
		0 0 30px #ff2d95, 
		0 0 40px #ff2d95, 
		0 0 50px #ff2d95, 
		0 0 75px #ff2d95; }
.cover h2, .cover h3 { 
	text-shadow: 
		-1px -1px 1px rgba(0,0,0,0.2), 
		1px 1px 0 rgba(0,0,0,0.2), 
		2px 2px 0 #ff2d95; }