
/* INNER PAGE BG */
.rm-wrapper > div > div { background: #eee url(../../../images/bckg/paper-bg/blizzard.png) 0 0 repeat; }

@media  (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) { 
	.rm-wrapper > div > div { background-image: url(../../../images/bckg/paper-bg/blizzard_@2X.png); background-size: 25px 25px; }   
}