
/* INNER PAGE BG */
.rm-wrapper > div > div { background: #eee url(../../../images/bckg/paper-bg/project_papper.png) 0 0 repeat; }

@media  (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) { 
	.rm-wrapper > div > div { background-image: url(../../../images/bckg/paper-bg/project_papper_@2X.png); background-size: 105px 105px; }   
}
